{% include "base.html" %}

{{block.super}}
{%block content%}
<div class="card-title">
<h4 class="text-center"> Welcome To Roba's Gallery</h4>
</div>
<div class="container">
<div class="row">
    
  {%for items in images%}
  <div class="col-sm-4 col-md-3 col-lg-4">
   <div class="card-group">
      <a data-toggle="modal" data-target="#modal1{{items.id}}">
        <img style="margin-top:20px; margin-bottom:20px;" src="{{items.image.url}}" alt="Image" height="300" width="300">
      </a>
      </div>
      </div>
    {%endfor%}
   </div>
</div>
     {%for items in images%}
     
        <div class="modal fade" id="modal1{{items.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-md" role="document">
          <div class="modal-content modalcard">
            <div class="modal-header">
              <h5 class=" text-center" id="imageheader">{{items.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <img src="{{items.image.url}}" alt="{{items.name}}" class="img-fluid">
                <p class="imgdesc text-center">{{items.description}}</p>
                <p class="text-center">{{items.category}}</p>
                    
            </div>
            <div class="modal-footer">
                
              <button type="button" class="btn btn-secondary" onclick="myFunction('{{items.id}}.url')">Copy Link</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <div>
                <input class="form-control input-lg" type="text" value="{{items.image.url}}" id="{{items.id}}.url">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    
   {%endfor%} 
    
    <div class="card-footer">

    </div>
</div>
<script>
  function myFunction(elem) {
    var copyText = document.getElementById(elem);
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
    alert("Copied the text: " + copyText.value);
  }
  </script>
{%endblock%}